<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="binding1" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"  maxArrayLength="2147483647"
            maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="LeafService.ServiceBehavior" 
               name="LeafService.LeafService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="binding1" 
                  contract="LeafService.ILeafService"/>
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://leaf.sunstorm.info:80/LeafService/"/>
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LeafService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
