USE [Leaf]
GO
/****** Object:  User [leaf]    Script Date: 02/09/2012 13:12:52 ******/
CREATE USER [leaf] FOR LOGIN [leaf] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  SqlAssembly [LeafDatabaseSupport]    Script Date: 02/09/2012 13:12:50 ******/
CREATE ASSEMBLY [LeafDatabaseSupport]
AUTHORIZATION [dbo]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C01030037B3334F0000000000000000E00002210B0108000010000000060000000000002E2F0000002000000040000000004000002000000002000004000000000000000400000000000000008000000002000000000000030040850000100000100000000010000010000000000000100000000000000000000000DC2E00004F000000004000008803000000000000000000000000000000000000006000000C000000382E00001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000340F0000002000000010000000020000000000000000000000000000200000602E7273726300000088030000004000000004000000120000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001600000000000000000000000000004000004200000000000000000000000000000000102F0000000000004800000002000500EC2200004C0B00000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000133001000B00000001000011027B020000040A2B00062A2202037D020000042A133002001A00000002000011001201FE1502000002120117280200000600070A060C2B00082A0000133003006E000000030000110002280100000616FE010D092D090072010000700C2B55027B010000048E69731200000A0A06027B0100000416996F1300000A26170B2B1C00061F3A6F1400000A027B0100000407996F1300000A26000717580B07027B010000048E69FE040D092DD5066F1500000A0C2B00082A0000133004008100000004000011000F00281600000A16FE01130611062D0A00280300000613052B63028C04000001281700000A0A06178D1E00000113071107161F3A9D11076F1800000A0B078E698D200000010C160D2B1100080907099A281900000AA1000917580D09078E69FE04130611062DE31204FE15020000021204087D01000004110413052B0011052A1E02281A00000A2A00000013300300190000000500001103027C030000047B01000004049959281B00000A0A2B00062A000000133004004800000006000011730A0000060B07037D0300000400027B0100000407FE060B000006731C00000A280100002B281E00000A0A06027B010000048E696C5B0D1203281F00000A282000000A0C2B00082A1E02281A00000A2A13300300190000000500001103027C040000047B01000004049959281B00000A0A2B00062A000000133004004D00000007000011730C0000060B00070328050000067D04000004027B0100000407FE060D000006731C00000A280100002B281E00000A0A06027B010000048E696C5B0D1203281F00000A282000000A0C2B00082A9200036F2100000A282000000A28050000067B01000004027B01000004166F2200000A002A56000302FE16020000026F1500000A6F2300000A002A42534A4201000100000000000C00000076322E302E35303732370000000005006C0000005C040000237E0000C8040000C404000023537472696E6773000000008C0900000C0000002355530098090000100000002347554944000000A8090000A401000023426C6F6200000000000000020000015717A209090A000000FA253300160000010000002500000004000000040000000D0000000A00000002000000230000001100000007000000010000000200000003000000010000000100000003000000020000000100000000000A0001000000000006003D0036000A006E0053000A0094007F000A00D1007F000600F400EA0006000601EA00060060014E0106007D014E0106009A014E010600B9014E010600D2014E010600EB014E01060006024E01060021024E01060059023A0206006D024E010600990286024700AD0200000600DC02BC020600FC02BC0206002E0336000A00440353000A0060035300060067033A0206007D033A0206008803BC020600AF03A3030600C40336000600CB0336000600D30336000600D80336000600E50336000600120436000E00270436000E003A042E040600600445040600B40436000000000001000000000001000100092110002200000005000100010003011000EC030000710003000A000301100085040000710004000C000600B400130001001901410006004501CF0006009804CF00502000000000E6099E000A0001006720000000008108A9000E0001007020000000009608BF0017000200982000000000C600C8001C0002001421000000009600DB0020000200D421000000008600E100270003005822000000008600E1002E000400B12200000000E601010135000500D62200000000E60113013B000600A12100000000861877015D000700AC21000000008600FF03D3000700282200000000861877015D00090030220000000086009A04D3000900000001003D01000001004301000001004501000001004501000001004A01000001004C01000001000E04000002001004000001000E040000020010040200090002000D00390077014D00410077014D00490077014D00510077014D00590077014D00610077014D00690077014D00710077014D00790077010E00810077014D00890077015200990077015800A10077015D00A90077015D00B10077016100C10077018200D10077015D00D90077015800D900BD039A00D900BD03A000E100C8001C0021009E000A00E900C800AE00F900DF03B3000101DB00BA00E10077015D0009011704D9000C007701EB0019016E04F1001901750412010101C8001C00210079041C012900A9041C002901BA043401310013014D0020008B0088002E001B0055012E00230055012E006B0085012E000B003C012E00130055012E002B003C012E0033005B012E003B0055012E004B0055012E005B0073012E0063007C0140008B00880041008B00880043007B00670063008B00880083008B0088008D009100A600BF00DE0022012B0102000100000031014400000038014800020001000300010002000300020003000500E20004800000010000004611635A0000000000001A03000002000000000000000000000001002D0000000000020000000000000000000000010047000000000003000500000000000000000001001B040000000003000200040002003B000D010000003C4D6F64756C653E004C6561664461746162617365537570706F72742E646C6C0044657363726970746F72006D73636F726C69620053797374656D0056616C7565547970650053797374656D2E44617461004D6963726F736F66742E53716C5365727665722E536572766572004942696E61727953657269616C697A650053797374656D2E446174612E53716C547970657300494E756C6C61626C65006765745F49734E756C6C007365745F49734E756C6C0064657363726970746F72006765745F4E756C6C00546F537472696E670053716C537472696E670050617273650044697374616E63650053797374656D2E494F0042696E61727952656164657200526561640042696E617279577269746572005772697465003C49734E756C6C3E6B5F5F4261636B696E674669656C640049734E756C6C004E756C6C0076616C756500730064657363007200770053797374656D2E5265666C656374696F6E00417373656D626C795469746C65417474726962757465002E63746F7200417373656D626C794465736372697074696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500417373656D626C79436F6D70616E7941747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C7954726164656D61726B41747472696275746500417373656D626C7943756C747572654174747269627574650053797374656D2E52756E74696D652E496E7465726F70536572766963657300436F6D56697369626C6541747472696275746500417373656D626C7956657273696F6E4174747269627574650053797374656D2E446961676E6F73746963730044656275676761626C6541747472696275746500446562756767696E674D6F6465730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C697479417474726962757465004C6561664461746162617365537570706F72740053657269616C697A61626C654174747269627574650053716C55736572446566696E65645479706541747472696275746500466F726D6174005374727563744C61796F7574417474726962757465004C61796F75744B696E6400436F6D70696C657247656E6572617465644174747269627574650053797374656D2E5465787400537472696E674275696C64657200417070656E64004F626A65637400436F6E76657274004368617200537472696E670053706C697400446F75626C65003C3E635F5F446973706C6179436C61737333003C44697374616E63653E625F5F3200740069004D617468004162730053797374656D2E436F72650046756E6360330053797374656D2E4C696E7100456E756D657261626C650053797374656D2E436F6C6C656374696F6E732E47656E657269630049456E756D657261626C6560310053656C6563740053756D006F705F496D706C69636974003C3E635F5F446973706C6179436C617373360064003C44697374616E63653E625F5F350052656164537472696E6700417272617900436F7079546F0000000000094E0055004C004C000000675C3C1BAB24874F91F4688A005CFD670008B77A5C561934E08903200002042001010203061D0D04000011080320000E060001110811110620011111110806200111111111052001011215052001011219020602032800020408001108042001010E05200101114904200101080320000105200101115D1A010002000000010054080B4D61784279746553697A65401F0000052001011165040100000003070102080703110811081108052001126D0D052001126D03070704126D080E020400010E1C0620011D0E1D030400010D0E0F07080E1D0E1D0D0811081108021D03030611080520020D0D080400010D0D0307010D0815128089030D080D052002011C181B10020215128091011E0115128091011E0015128089031E00081E01040A020D0D0900010D15128091010D05000111110E0807040D120C11110D0807040D121011110D0720020112809508180100134C6561664461746162617365537570706F7274000005010000000017010012436F7079726967687420C2A920203230313200000801000701000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010000000037B3334F000000000200000087000000542E00005410000052534453BBF2F54EE7BD3E44B1AA7FC9A5798D8106000000433A5C55736572735C7075746F5C446F63756D656E74735C56697375616C2053747564696F20323031305C50726F6A656374735C4C6561665C4C6561664461746162617365537570706F72745C6F626A5C44656275675C4C6561664461746162617365537570706F72742E7064620000042F000000000000000000001E2F0000002000000000000000000000000000000000000000000000102F0000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF250020400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000300300000000000000000000300334000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE0000010000000100635A461100000100635A46113F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B00490020000010053007400720069006E006700460069006C00650049006E0066006F0000006C0200000100300030003000300030003400620030000000500014000100460069006C0065004400650073006300720069007000740069006F006E00000000004C006500610066004400610074006100620061007300650053007500700070006F0072007400000040000F000100460069006C006500560065007200730069006F006E000000000031002E0030002E0034003400320032002E00320033003100330039000000000050001800010049006E007400650072006E0061006C004E0061006D00650000004C006500610066004400610074006100620061007300650053007500700070006F00720074002E0064006C006C0000004800120001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A90020002000320030003100320000005800180001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000004C006500610066004400610074006100620061007300650053007500700070006F00720074002E0064006C006C000000480014000100500072006F0064007500630074004E0061006D006500000000004C006500610066004400610074006100620061007300650053007500700070006F0072007400000044000F000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0034003400320032002E00320033003100330039000000000048000F00010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0034003400320032002E003200330031003300390000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000303F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
ALTER ASSEMBLY [LeafDatabaseSupport]
ADD FILE FROM 0x4D6963726F736F667420432F432B2B204D534620372E30300D0A1A445300000000020000010000001F000000A8000000000000001D000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000280400C3FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF90F9FFFCFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF0BCA3101380000000010000000100000000000000E00FFFF0400000003800000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD60A66E40CF64824CB6F042D48172A7991000000000000000E33F1D56B3278875A43A72AA34DBCF8406000000170000001A000000090000000A000000050000000B0000000C0000000D0000000E0000000F0000001000000011000000120000001300000014000000160000001500000007000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD60A66E40CF64824CB6F042D48172A79910000000000000007F4DE830307A14BC2E18C4AEB14018FB170000001A0000000900000008000000040000000B0000000C0000000D0000000E0000000F0000001000000011000000120000001300000014000000160000001500000007000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000BCA310138000000001000000010000000000000FFFFFFFF040000000380000000000000FFFFFFFF00000000FFFFFFFF00000000FFFFFFFF000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000009020000000000000902000000000000000000000000000000000000000000000001000044090000B80200002C0000005C010000FFFFFFFF280000001B000000030000000600000016000000170000000900000008000000040000000B0000000C0000000D0000000E0000000F00000010000000110000001200000013000000150000001400000005000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001BE2300180000000C0B1132321E7CC0106000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000020000000100000002000000000000005D000000280000001BE230019D9D431158000000010000005C0000005D000000650000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FEEFFEEF01000000B800000000433A5C55736572735C7075746F5C446F63756D656E74735C56697375616C2053747564696F20323031305C50726F6A656374735C4C6561665C4C6561664461746162617365537570706F72745C44657363726970746F722E63730000633A5C75736572735C7075746F5C646F63756D656E74735C76697375616C2073747564696F20323031305C70726F6A656374735C6C6561665C6C6561666461746162617365737570706F72745C64657363726970746F722E637300040000005C000000010000005D0000000000000003000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001BE230018000000056D6B00221E7CC0105000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000020000000100000002000000000000005D000000280000001BE230016EF8800C58000000010000005C0000005D0000006500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000036002A1100000000A8000000000000001900000000000000000000000B0000060901000001000000003C44697374616E63653E625F5F32001600031104000000740000001900000009010000010000001E00201100000000050000110000000000000400435324312430303030000000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D004400320000000401000004011D000C0000000300000602000600F200000030000000090100000100010019000000000000000200000024000000000000004400008017000000EEEFFE802E004E0000000000F4000000080000000100000000000000080000000000000020000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000036002A1100000000A8000000000000001900000000000000000000000D0000066A01000001000000003C44697374616E63653E625F5F3500160003110400000074000000190000006A010000010000001E00201100000000050000110000000000000400435324312430303030000000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D004400320000000401000004011D000C0000000300000602000600F2000000300000006A0100000100010019000000000000000200000024000000000000004D00008017000000EEEFFE802E004B0000000000F4000000080000000100000000000000080000003800000058000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000032002A1100000000A8010000000000001A0000000000000000000000030000060000000001000000006765745F4E756C6C0000001600031104000000740100001A00000000000000010000000A0024115553797374656D001E0024115553797374656D2E436F6C6C656374696F6E732E47656E65726963001A0024115553797374656D2E446174612E53716C5479706573000000120024115553797374656D2E4C696E7100000000320024115553797374656D2E52756E74696D652E53657269616C697A6174696F6E2E466F726D6174746572732E42696E61727900120024115553797374656D2E54657874000000001E002411554D6963726F736F66742E53716C5365727665722E536572766572001E002011020000000200001100000000000004004353243124303030300000001A00201100000000020000110000000000000000646573630000000022002011010000000200001100000000000000003C3E675F5F696E69744C6F63616C3000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040000000C000000010007000200060032002A1100000000B8020000000000006E0000000000000000000000040000061A0000000100000000546F537472696E6700000016000311AC010000840200006E0000001A000000010000001E002011020000000300001100000000000004004353243124303030300000001E0020110300000003000011000000000000040043532434243030303100000016002011000000000300001100000000000000007362000016000311E0010000800200002F0000004E0000000100000016002011010000000300001100000000000000006900000002000600020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D004400320000000401000004015B0D0C00000003000006020006002E002A11000000004004000000000000810000000000000000000000050000068800000001000000005061727365000016000311BC0200000C0400008100000088000000010000001E002011050000000400001100000000000004004353243124303030300000001E002011060000000400001100000000000004004353243424303030310000001E002011070000000400001100000000000004004353243024303030320000001600201100000000040000110000000000000000737472001A0020110100000004000011000000000000000073747244657363001A00201102000000040000110000000000000000646573630000000022002011040000000400001100000000000000003C3E675F5F696E69744C6F63616C310016000311EC0200000804000021000000CF0000000100000016002011030000000400001100000000000000006900000002000600020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D004400320000000401000004015B0D0C000000030000060200060032002A110000000040050000000000004800000000000000000000000600000622010000010000000044697374616E636500000016000311440400000C0500004800000022010000010000001E002011020000000600001100000000000004004353243124303030300000001E00201103000000060000110000000000000400435324302430303031000000160020110000000006000011000000000000000073756D0022002011010000000600001100000000000000004353243C3E385F5F6C6F63616C733400020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D00440032000000040100000401B0660C000000030000060200060032002A110000000040060000000000004D00000000000000000000000700000683010000010000000044697374616E636500000016000311440500000C0600004D00000083010000010000001E002011020000000700001100000000000004004353243124303030300000001E00201103000000070000110000000000000400435324302430303031000000160020110000000007000011000000000000000073756D0022002011010000000700001100000000000000004353243C3E385F5F6C6F63616C733700020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D00440032000000040100000401B0660C00000003000006020006002E002A1100000000A40600000000000024000000000000000000000008000006D00100000100000000526561640000002E000404C93FEAC6B359D649BC250902BBABB460000000004D004400320000000401000004011D000C00000003000006020006002E002A1100000000080700000000000015000000000000000000000009000006F40100000100000000577269746500002E000404C93FEAC6B359D649BC250902BBABB460000000004D004400320000000401000004011D000C0000000300000602000600F20000004800000000000000010001001A00000000000000040000003C000000000000001500008001000000160000801400000017000080180000001800008003000400040030000400120003000400F2000000E40000001A000000010001006E0000000000000011000000D8000000000000001C000080010000001D0000800B000000EEEFFE800E0000001E0000800F0000001F00008017000000220000802500000023000080340000002500008036000000EEEFFE80380000002600008039000000270000804F000000280000805000000025000080540000002500008060000000EEEFFE80630000002A0000806C0000002B0000800200030003001300000000000300040004001200030036000300210008001200000000000300040004002E00030004002F00320013002D00000000000300180002000300F2000000F00000008800000001000100810000000000000012000000E4000000000000002F00008001000000300000800D000000EEEFFE80110000003100008012000000320000801B0000003500008027000000360000803E00000038000080470000003A00008049000000EEEFFE804B0000003B0000804C0000003C000080570000003D000080580000003A0000805C0000003A00008064000000EEEFFE80680000003F0000807E000000400000800200030003001000000000000300040004001000030021000300200003002900080012000000000003000400040027000300040027002A00130025000000000003002F0002000300F20000005400000022010000010001004800000000000000050000004800000000000000EEEFFE800D000000430000800E000000440000802B0000004600008046000000470000800000000002000300030056000300320002000300F20000006000000083010000010001004D00000000000000060000005400000000000000EEEFFE80060000004A000080070000004B000080130000004D000080300000004F0000804B00000050000080000000000200030003002200030053000300340002000300F20000003C000000D001000001000100240000000000000003000000300000000000000053000080010000005400008023000000550000800200030003003E0002000300F20000003C000000F4010000010001001500000000000000030000003000000000000000580000800100000059000080140000005A0000800200030003001C0002000300F4000000080000000100000000000000380000007000000088000000A0000000B8000000D0000000E4000000FC000000140100002C010000440100005C01000070010000880100009C0100000000000000000000000000000000000000000000000000000000000000000000000000000000000001000200000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008000000000000000000200000000000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF1900000004802000021000000010000002D01000001000000FD000000010000008900000001000000A100000001000000150100000100000071000000010000004501000001000000B9000000010000005900000001000000E500000001000000710100000100000001000000010000009D010000010000008901000001000000D1000000010000005D010000010000003900000001000000000480000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000000000000000000000001000200000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000010400000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000008000000000000000000200000000000000000000000000000800000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000C00000024000000300000003C0000004800000054000000600000006C0000007800000084000000900000009C000000A8000000B4000000C0000000CC0000000000000088020000010030363030303030350000160025110000000010040000010044697374616E63650000160029110000000010040000010030363030303030360000160025110000000010050000010044697374616E6365000016002911000000001005000001003036303030303037000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001E002511000000000400000002003C44697374616E63653E625F5F32000000001600291100000000040000000200303630303030306200001E002511000000000400000003003C44697374616E63653E625F5F350000000016002911000000000400000003003036303030303064000016002511000000000400000001006765745F4E756C6C00001600291100000000040000000100303630303030303300001600251100000000AC0100000100546F537472696E6700001600291100000000AC0100000100303630303030303400001200251100000000BC02000001005061727365001600291100000000BC020000010030363030303030350000160025110000000044040000010044697374616E63650000160029110000000044040000010030363030303030360000160025110000000044050000010044697374616E6365000016002911000000004405000001003036303030303037000012002511000000004406000001005265616400001600291100000000440600000100303630303030303800001200251100000000A806000001005772697465001600291100000000A80600000100303630303030303900000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF100000000000000000200303630303030306200001E002511000000000400000003003C44697374616E63653E625F5F350000000016002911000000000400000003003036303030303064000016002511000000000400000001006765745F4E756C6C00001600291100000000040000000100303630303030303300001600251100000000AC0100000100546F537472696E6700001600291100000000AC0100000100303630303030303400001200251100000000BC02000001005061727365001600291100000000BC020000010030363030303030350000160025110000000044040000010044697374616E63650000160029110000000044040000010030363030303030360000160025110000000044050000010044697374616E6365000016002911000000004405000001003036303030303037000012002511000000004406000001005265616400001600291100000000440600000100303630303030303800001200251100000000A806000001005772697465001600291100000000A806000001003036303030303039000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF77093101060000000B00008A0C006F760D00010024010000000100002C00000078000000000000000000000016000000190000000000EEC00000000000000000FFFF000000000000FFFFFFFF00000000FFFF0000000000000000000000000A000C070000000000009003000001000000B0AA790A000000000000000044657363726970746F720044393141354435360000000000FFFF000000000000FFFFFFFF00000000FFFF0000000000000000000000000800AC000000000000004800000001000000D0AE790A000000000000000044657363726970746F722E3C3E635F5F446973706C6179436C61737333004630384342424144000000000000FFFF000000000000FFFFFFFF00000000FFFF0000000000000000000000000900AC00000000000000480000000100000020A8790A000000000000000044657363726970746F722E3C3E635F5F446973706C6179436C6173733600384446423446453800002DBA2EF101000000000000001A00000000000000000000000000000000000000010000001A0000006E00000000000000000000000000000000000000010000008800000081000000000000000000000000000000000000000100000009010000190000000000000001000000000000000000000001000000220100004800000000000000000000000000000000000000010000006A0100001900000008000000A4000000E000000038000000FFFFFFFF00000000DC0000008000000058000000040000000300000006000000090000000A00000005000000626C6F636B002F7372632F66696C65732F633A5C75736572735C7075746F5C646F63756D656E74735C76697375616C2073747564696F20323031305C70726F6A656374735C6C6561665C6C6561666461746162617365737570706F72745C64657363726970746F722E6373000400000006000000010000001E00000000000000110000000600000022000000070000000A000000050000000000000004000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001800000018000000E000000038000000FF02000000000000DC000000800000005800000028000000000100000001000044090000B80200002C0000005C0100000300000018000000060000001600000017000000090000000A00000007000000080000000B0000000C0000000D0000000E0000000F00000010000000110000001200000013000000150000001400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000001000000830100004D0000000000000000000000000000000000000001000000D0010000240000000000000000000000000000000000000001000000F40100001500000000000000000000000000000000000000020002000D01000000000100FFFFFFFF00000000090200000802000000000000FFFFFFFF00000000FFFFFFFF03000300000001000200010001000100000000000000000000000000433A5C55736572735C7075746F5C446F63756D656E74735C56697375616C2053747564696F20323031305C50726F6A656374735C4C6561665C4C6561664461746162617365537570706F72745C44657363726970746F722E63730000FEEFFEEF010000000100000000010000000000000000000000FFFFFFFFFFFFFFFFFFFF1300FFFFFFFFFFFFFFFFFFFF000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000942E31015DAE334F06000000BBF2F54EE7BD3E44B1AA7FC9A5798D81880000002F4C696E6B496E666F002F6E616D6573002F7372632F686561646572626C6F636B002F7372632F66696C65732F633A5C75736572735C7075746F5C646F63756D656E74735C76697375616C2073747564696F20323031305C70726F6A656374735C6C6561665C6C6561666461746162617365737570706F72745C64657363726970746F722E6373000400000006000000010000001E00000000000000110000000600000022000000070000000A00000005000000000000000400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000140000003C000000E0000000380000003703000000000000DC00000080000000580000000001000000010000D80A0000E80200002C000000B4010000FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF28000000180000001B00000006000000170000001A0000000900000008000000040000000B0000000C0000000D0000000E0000000F000000100000001100000012000000130000001400000016000000150000000700000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001C000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
AS N'bin\Debug\LeafDatabaseSupport.pdb'
GO
ALTER ASSEMBLY [LeafDatabaseSupport]
ADD FILE FROM 0xEFBBBF7573696E672053797374656D3B0D0A7573696E672053797374656D2E436F6C6C656374696F6E732E47656E657269633B0D0A7573696E672053797374656D2E446174612E53716C54797065733B0D0A7573696E672053797374656D2E4C696E713B0D0A7573696E672053797374656D2E52756E74696D652E53657269616C697A6174696F6E2E466F726D6174746572732E42696E6172793B0D0A7573696E672053797374656D2E546578743B0D0A7573696E67204D6963726F736F66742E53716C5365727665722E5365727665723B0D0A0D0A5B53657269616C697A61626C655D0D0A5B53716C55736572446566696E65645479706528466F726D61742E55736572446566696E65642C0D0A20202020202020204D61784279746553697A65203D2038303030295D0D0A7075626C6963207374727563742044657363726970746F72203A204942696E61727953657269616C697A652C20494E756C6C61626C650D0A7B0D0A097075626C696320626F6F6C2049734E756C6C207B206765743B2070726976617465207365743B207D0D0A0D0A097075626C696320646F75626C655B5D2064657363726970746F723B0D0A0D0A097075626C6963207374617469632044657363726970746F72204E756C6C0D0A097B0D0A09096765740D0A09097B0D0A0909097661722064657363203D206E65772044657363726970746F72207B2049734E756C6C203D2074727565207D3B0D0A09090972657475726E202864657363293B0D0A09097D0D0A097D0D0A0D0A097075626C6963206F7665727269646520737472696E6720546F537472696E6728290D0A097B0D0A090969662028746869732E49734E756C6C290D0A09097B0D0A09090972657475726E20224E554C4C223B0D0A09097D0D0A0D0A0909766172207362203D206E657720537472696E674275696C64657228746869732E64657363726970746F722E4C656E677468293B0D0A090973622E417070656E6428746869732E64657363726970746F725B305D293B0D0A0D0A0909666F7220287661722069203D20313B2069203C20746869732E64657363726970746F722E4C656E6774683B20692B2B290D0A09097B0D0A09090973622E417070656E6428273A27292E417070656E6428746869732E64657363726970746F725B695D293B0D0A09097D0D0A0D0A090972657475726E2073622E546F537472696E6728293B0D0A097D0D0A0D0A0D0A097075626C6963207374617469632044657363726970746F722050617273652853716C537472696E672073290D0A097B0D0A090969662028732E49734E756C6C290D0A09097B0D0A09090972657475726E204E756C6C3B0D0A09097D0D0A0D0A090976617220737472203D20436F6E766572742E546F537472696E672873293B0D0A09097661722073747244657363203D207374722E53706C697428273A27293B0D0A0D0A09097661722064657363203D206E657720646F75626C655B737472446573632E4C656E6774685D3B0D0A0D0A0909666F7220287661722069203D20303B2069203C20737472446573632E4C656E6774683B20692B2B290D0A09097B0D0A090909646573635B695D203D20446F75626C652E506172736528737472446573635B695D293B0D0A09097D0D0A0D0A090972657475726E206E65772044657363726970746F72207B2064657363726970746F72203D2064657363207D3B0D0A097D0D0A0D0A097075626C69632053716C537472696E672044697374616E63652844657363726970746F722064657363290D0A097B0D0A09097661722073756D203D20746869732E64657363726970746F722E53656C6563742828742C206929203D3E204D6174682E4162732874202D20646573632E64657363726970746F725B695D29292E53756D28293B0D0A0D0A090972657475726E202873756D2F746869732E64657363726970746F722E4C656E677468292E546F537472696E6728293B0D0A097D0D0A0D0A097075626C69632053716C537472696E672044697374616E63652853716C537472696E672064657363290D0A097B0D0A09097661722064203D2044657363726970746F722E50617273652864657363293B0D0A0D0A09097661722073756D203D20746869732E64657363726970746F722E53656C6563742828742C206929203D3E204D6174682E4162732874202D20642E64657363726970746F725B695D29292E53756D28293B0D0A0D0A090972657475726E202873756D202F20746869732E64657363726970746F722E4C656E677468292E546F537472696E6728293B0D0A097D0D0A0D0A097075626C696320766F696420526561642853797374656D2E494F2E42696E6172795265616465722072290D0A097B0D0A0909506172736528722E52656164537472696E672829292E64657363726970746F722E436F7079546F28746869732E64657363726970746F722C30293B0D0A097D0D0A0D0A097075626C696320766F69642057726974652853797374656D2E494F2E42696E6172795772697465722077290D0A097B0D0A0909772E577269746528746869732E546F537472696E672829293B0D0A097D0D0A7D0D0A0D0A
AS N'Descriptor.cs'
GO
ALTER ASSEMBLY [LeafDatabaseSupport]
ADD FILE FROM 0xEFBBBF7573696E672053797374656D2E5265666C656374696F6E3B0D0A7573696E672053797374656D2E52756E74696D652E436F6D70696C657253657276696365733B0D0A7573696E672053797374656D2E52756E74696D652E496E7465726F7053657276696365733B0D0A7573696E672053797374656D2E446174612E53716C3B0D0A0D0A2F2F2047656E6572616C20496E666F726D6174696F6E2061626F757420616E20617373656D626C7920697320636F6E74726F6C6C6564207468726F7567682074686520666F6C6C6F77696E670D0A2F2F20736574206F6620617474726962757465732E204368616E6765207468657365206174747269627574652076616C75657320746F206D6F646966792074686520696E666F726D6174696F6E0D0A2F2F206173736F636961746564207769746820616E20617373656D626C792E0D0A5B617373656D626C793A20417373656D626C795469746C6528224C6561664461746162617365537570706F727422295D0D0A5B617373656D626C793A20417373656D626C794465736372697074696F6E282222295D0D0A5B617373656D626C793A20417373656D626C79436F6E66696775726174696F6E282222295D0D0A5B617373656D626C793A20417373656D626C79436F6D70616E79282222295D0D0A5B617373656D626C793A20417373656D626C7950726F6475637428224C6561664461746162617365537570706F727422295D0D0A5B617373656D626C793A20417373656D626C79436F707972696768742822436F7079726967687420C2A920203230313222295D0D0A5B617373656D626C793A20417373656D626C7954726164656D61726B282222295D0D0A5B617373656D626C793A20417373656D626C7943756C74757265282222295D0D0A0D0A5B617373656D626C793A20436F6D56697369626C652866616C7365295D0D0A0D0A2F2F0D0A2F2F2056657273696F6E20696E666F726D6174696F6E20666F7220616E20617373656D626C7920636F6E7369737473206F662074686520666F6C6C6F77696E6720666F75722076616C7565733A0D0A2F2F0D0A2F2F2020202020204D616A6F722056657273696F6E0D0A2F2F2020202020204D696E6F722056657273696F6E0D0A2F2F2020202020204275696C64204E756D6265720D0A2F2F2020202020205265766973696F6E0D0A2F2F0D0A2F2F20596F752063616E207370656369667920616C6C207468652076616C756573206F7220796F752063616E2064656661756C7420746865205265766973696F6E20616E64204275696C64204E756D626572730D0A2F2F206279207573696E672074686520272A272061732073686F776E2062656C6F773A0D0A5B617373656D626C793A20417373656D626C7956657273696F6E2822312E302E2A22295D0D0A0D0A
AS N'Properties\AssemblyInfo.cs'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyProjectRoot', @value=N'C:\Users\puto\Documents\Visual Studio 2010\Projects\Leaf\LeafDatabaseSupport' , @level0type=N'ASSEMBLY',@level0name=N'LeafDatabaseSupport'
GO
/****** Object:  Table [dbo].[ACTIVITY]    Script Date: 02/09/2012 13:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IPv4] [nvarchar](15) NULL,
	[ActivityDate] [datetime] NOT NULL,
	[Client] [nvarchar](50) NULL,
	[Treshold] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREE]    Script Date: 02/09/2012 13:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RodoveCesky] [nvarchar](50) NULL,
	[DruhoveCesky] [nvarchar](50) NULL,
	[RodoveLatinsky] [nvarchar](50) NULL,
	[DruhoveLatinsky] [nvarchar](50) NULL,
	[Verified] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PICTURE]    Script Date: 02/09/2012 13:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PICTURE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TreeID] [int] NULL,
	[Picture] [image] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOT_VERIFIED_INFO]    Script Date: 02/09/2012 13:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOT_VERIFIED_INFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TreeID] [int] NULL,
	[IPv4] [nvarchar](15) NULL,
	[ActivityDate] [datetime] NOT NULL,
	[SenderName] [nvarchar](100) NULL,
	[Client] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedType [dbo].[Descriptor]    Script Date: 02/09/2012 13:12:52 ******/
CREATE TYPE [dbo].[Descriptor]
EXTERNAL NAME [LeafDatabaseSupport].[Descriptor]
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyFile', @value=N'Descriptor.cs' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TYPE',@level1name=N'Descriptor'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyFileLine', @value=N'47' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TYPE',@level1name=N'Descriptor'
GO
/****** Object:  Table [dbo].[ACTIVITY_DETAIL]    Script Date: 02/09/2012 13:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVITY_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TreeID] [int] NULL,
	[ActivityID] [int] NULL,
	[Confidence] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESCRIPTOR]    Script Date: 02/09/2012 13:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESCRIPTOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TreeID] [int] NOT NULL,
	[Descriptor] [dbo].[Descriptor] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK__ACTIVITY___Activ__1BFD2C07]    Script Date: 02/09/2012 13:12:52 ******/
ALTER TABLE [dbo].[ACTIVITY_DETAIL]  WITH CHECK ADD FOREIGN KEY([ActivityID])
REFERENCES [dbo].[ACTIVITY] ([ID])
GO
/****** Object:  ForeignKey [FK__ACTIVITY___TreeI__1B0907CE]    Script Date: 02/09/2012 13:12:52 ******/
ALTER TABLE [dbo].[ACTIVITY_DETAIL]  WITH CHECK ADD FOREIGN KEY([TreeID])
REFERENCES [dbo].[TREE] ([ID])
GO
/****** Object:  ForeignKey [FK__DESCRIPTO__TreeI__30F848ED]    Script Date: 02/09/2012 13:12:52 ******/
ALTER TABLE [dbo].[DESCRIPTOR]  WITH CHECK ADD FOREIGN KEY([TreeID])
REFERENCES [dbo].[TREE] ([ID])
GO
/****** Object:  ForeignKey [FK__NOT_VERIF__TreeI__20C1E124]    Script Date: 02/09/2012 13:12:52 ******/
ALTER TABLE [dbo].[NOT_VERIFIED_INFO]  WITH CHECK ADD FOREIGN KEY([TreeID])
REFERENCES [dbo].[TREE] ([ID])
GO
/****** Object:  ForeignKey [FK__PICTURE__TreeID__1273C1CD]    Script Date: 02/09/2012 13:12:52 ******/
ALTER TABLE [dbo].[PICTURE]  WITH CHECK ADD FOREIGN KEY([TreeID])
REFERENCES [dbo].[TREE] ([ID])
GO
